* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  width: 100%;
}
body .j-five-title {
  text-align: center;
  color: black;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
}
body .j-five-title-1 {
  color: grey;
}
body .j-txt {
  color: white;
  font-size: 30px;
}
body .j-footer-text-1 {
  color: grey;
  font-size: 16px;
}
body .mouse {
  position: fixed;
  z-index: 9999;
  width: 16px;
  height: 23px;
  bottom: 35px;
  left: 50%;
  margin-left: -8px;
  background: url("../../image/studio/icon_mouse.png") no-repeat;
}
body .mouse .arrow {
  width: 10px;
  height: 5px;
  background: url("../../image/studio/icon_mouse_arrow.png") no-repeat;
  overflow: hidden;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}
.j-nav-popup {
  background: #cc1a2a;
  width: 100%;
  line-height: 50px;
}
.j-nav-popup ul {
  margin-left: 200px;
  padding-top: 100px;
  border: none;
}
.j-nav-popup ul a {
  text-decoration: none;
  color: white;
  position: relative;
}
.j-nav-popup ul a i {
  display: block;
  position: absolute;
  top: 5px;
  left: 0;
}
.nav-popup-bg {
  background: #151515;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.j-nav {
  position: relative;
  z-index: 9999;
  width: 100%;
  top: 30px;
  left: 50%;
  margin-left: -650px;
  background: transparent;
  border: none;
}
.j-nav .j-navbar-nav {
  padding-left: 360px;
}
.j-nav li {
  padding-left: 10px;
  font-size: 14px;
}
.j-nav .nav-icon {
  position: absolute;
  right: 130px;
  top: 11px;
  width: 30px;
  cursor: pointer;
  display: block;
}
.j-nav .nav-icon span:hover {
  color: #cc1a2a;
}
.j-nav .navbar-collapse ul li a:hover,
.j-nav .navbar-collapse ul li a.current {
  color: #cc1a2a;
}
.my-j-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  top: -80px;
  overflow: hidden;
  margin-bottom: 0;
}
.my-j-jumbotron .j-best {
  position: relative;
  border: 1px solid red;
}
.my-j-jumbotron .j-best .carousel-caption {
  width: 100%;
  height: 480px;
  background: url("../../image/studio/do_the_best (1).png") left 50% no-repeat;
  position: absolute;
  left: 0;
}
.my-j-jumbotron .j-best .carousel-caption h2 {
  position: absolute;
  left: 0;
  top: 30px;
  color: #3498DB;
  font-size: 30px;
}
.my-j-jumbotron .j-best .carousel-caption .ring {
  position: relative;
  padding-left: 400px;
  z-index: 1000;
}
.my-j-jumbotron .j-best .carousel-caption .ring .j-ring {
  float: left;
  margin-left: 50px;
  width: 183px;
  height: 183px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 140px;
  position: relative;
  z-index: -1;
}
.my-j-jumbotron .j-best .carousel-caption .ring .j-ring .j-hover {
  width: 225px;
  height: 225px;
  top: -23px;
  left: -22px;
  opacity: 0.9;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: -2;
}
.my-j-jumbotron .j-best .carousel-caption .ring .j-key {
  font-size: 30px;
  margin-top: 55px;
  display: block;
  text-align: center;
  line-height: 1.6;
}
.my-j-jumbotron .j-best .carousel-caption .ring .j-number {
  font-size: 20px;
}
/****************正文开始*****************/
.j-body {
  height: 600px;
  background: url("../../image/studio/body.jpg") no-repeat;
  background-size: cover;
  position: relative;
  top: -83px;
  overflow: hidden;
}
.j-body .j-body-header .j-image {
  float: left;
  display: block;
  width: 210px;
  height: 270px;
  left: 0;
  top: 30px;
  border: 1px solid;
  overflow: hidden;
  margin-left: 10px;
  background: white;
  position: relative;
  background-size: cover;
}
.j-body .j-body-header .j-image .j-img {
  padding-top: 30px;
  width: 140px;
  height: 140px;
  position: absolute;
  left: 30px;
}
.j-body .j-body-header .j-image #j-first-image {
  background: url("../../image/studio/bd000.jpg") no-repeat center center;
  width: 100%;
  height: 180px;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.j-body .j-body-header .j-image #j-second-image {
  background: url("../../image/studio/bd001.jpg") no-repeat center center;
  width: 100%;
  height: 180px;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.j-body .j-body-header .j-image #j-third-image {
  background: url("../../image/studio/bd002.jpg") no-repeat center center;
  width: 100%;
  height: 180px;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.j-body .j-body-header .j-image #j-fourth-image {
  background: url("../../image/studio/bd003.jpg") no-repeat center center;
  width: 100%;
  height: 180px;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.j-body .j-body-header .j-image #j-fifth-image {
  background: url("../../image/studio/bd004.jpg") no-repeat center center;
  width: 100%;
  height: 180px;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.j-body .j-body-header .j-image .j-title {
  font-size: 20px;
  padding-top: 15px;
}
.j-body .j-body-header .j-image .j-text {
  position: relative;
  overflow: hidden;
  z-index: 100;
}
.j-body .j-body-header .j-image .j-rgb {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 23, 38, 0.8);
  position: absolute;
  bottom: 0;
  display: none;
}
.j-body i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-second {
  position: relative;
  top: -83px;
}
.j-second i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-three {
  width: 100%;
  height: 600px;
  background: url("../../image/studio/body.jpg") no-repeat;
  position: relative;
  top: -83px;
}
.j-three i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-three .j-three-body {
  height: 100%;
  background: url("../../image/studio/advantage_content.png") no-repeat;
}
.j-three .j-three-body ul {
  height: 300px;
  margin-left: 400px;
  margin-top: 30px;
}
.j-three .j-three-body ul li {
  line-height: 50px;
  list-style: none;
}
.j-three .j-three-body ul li a {
  color: black;
  font-size: 14px;
  letter-spacing: 0.05em;
}
.j-three .j-three-body ul li span {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-right: 4px;
}
.j-three .j-three-body ul li .icon-image0 {
  margin-left: 114px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image1 {
  margin-left: 161px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image2 {
  margin-left: 187px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image3 {
  margin-left: 198px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image4 {
  margin-left: 198px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image5 {
  margin-left: 184px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image6 {
  margin-left: 157px;
  margin-top: 17px;
  display: inline;
}
.j-three .j-three-body ul li .icon-image7 {
  margin-left: 107px;
  margin-top: 17px;
  display: inline;
}
.j-four {
  height: 750px;
  background: url("../../image/studio/service_background.jpg");
  color: white;
  position: relative;
  top: -83px;
}
.j-four form {
  position: relative;
  left: -140px;
}
.j-four i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-four #first-input-11 {
  background: url("../../image/studio/form_name.png") no-repeat 20px 50%;
  padding-left: 50px;
}
.j-four #second-input-11 {
  background: url("../../image/studio/form_email.png") no-repeat 20px 50%;
  padding-left: 60px;
}
.j-four input {
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  width: 600px;
  border: 2px solid #7490a7;
  display: block;
  margin-bottom: 25px;
  height: 40px;
}
.j-four #msg-11 {
  height: 200px;
  width: 600px;
  background-color: transparent;
  color: #fff;
}
.j-four button {
  width: 200px;
  height: 50px;
  background-color: rgba(200, 23, 38, 0.8);
  color: white;
  margin-top: 30px;
}
.j-four .j-four-right {
  position: relative;
  right: 140px;
  top: -430px;
}
.j-four .j-right {
  float: left;
  width: 130px;
  height: 110px;
  border: 2px solid #7490a7;
}
.j-four .j-right img {
  padding-top: 38px;
}
.j-four .j-tel {
  margin-left: 30px;
  padding-top: 10px;
  line-height: 40px;
}
.j-four .j-tel .second {
  font-size: 14px;
}
.j-five {
  height: 600px;
  background: url("../../image/studio/body.jpg") no-repeat;
  padding-top: 40px;
  position: relative;
  top: -83px;
  width: 100%;
  overflow: hidden;
}
.j-five i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-five .j-height {
  height: 60px;
  width: 1px;
  border: 0.5px solid grey;
  margin-left: 14px;
}
.j-five .j-right {
  width: 750px;
  margin-left: 20px;
}
.j-five .j-text {
  color: #ca1c0d;
}
.j-five .j-right p {
  font-size: 15px;
  padding-top: 10px;
  color: black;
}
.j-five .j-five-foot {
  margin-top: 40px;
}
.j-five .j-five-foot .j-height-1 {
  height: 40px;
  width: 1px;
  border: 0.5px solid grey;
  margin-left: 14px;
}
.j-five .about {
  position: relative;
  width: 100%;
  height: 100%;
}
.j-five .about .about-img {
  position: absolute;
  top: -160px;
  right: -45px;
  z-index: 2;
}
.j-five .about ul li {
  float: left;
  position: relative;
  top: 30px;
  z-index: 1;
  margin-right: 1px;
  width: 210px;
  height: 147px;
  border: 1px solid;
}
.j-five .about .about-img-1 {
  background: url("../../image/studio/0.jpg") no-repeat;
}
.j-five .about .about-img-2 {
  background: url("../../image/studio/1.jpg");
}
.j-five .about .about-img-3 {
  background: url("../../image/studio/2.jpg");
}
.j-five .about .about-img-4 {
  background: url("../../image/studio/3.jpg");
}
.j-footer {
  height: 800px;
  width: 100%;
  background: url("../../image/studio/contact.jpg") no-repeat;
  position: relative;
  top: -83px;
  overflow: hidden;
}
.j-footer i {
  display: block;
  width: 27px;
  height: 5px;
  background-color: #ca1c0d;
  margin: 15px auto 30px;
}
.j-footer .j-five-body {
  padding-top: 40px;
}
.j-footer .j-footer-text {
  color: white;
  margin-bottom: 10px;
}
.j-footer .pin {
  width: 100px;
  height: 100px;
  background: url("../../image/studio/map_pin.png") no-repeat;
  position: absolute;
  left: 823px;
  bottom: 312px;
}
.j-footer .popup {
  width: 370px;
  height: 471px;
  background: url(../../image/studio/contact_popup.png) no-repeat 50%;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  left: 480px;
  bottom: 0;
}
.j-footer .popup .content {
  margin: 18px 0 0 20px;
  overflow: hidden;
  width: 316px;
}
.j-footer .popup .content li {
  font-size: 15px;
  color: #000;
  border-top: 1px dotted #ccc;
  padding: 10px 0 14px 64px;
  line-height: 1.8;
  margin: 0 24px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 20px 50%;
}
.j-footer .popup .icon-title {
  font-size: 16px;
}
.j-footer .popup .icon-2 {
  background: url("../../image/studio/icons_contact_2.png");
}
.j-footer .popup .icon-3 {
  background: url("../../image/studio/icons_contact_3.png");
}
.j-footer .popup .icon-1 {
  background: url("../../image/studio/icons_contact_1.png");
}
